body{
margin:0;
font-family:Segoe UI;
background:#0b0d16;
color:white;
overflow-x:hidden;
}

/* HERO */

.hero{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
background:url("assets/bg.jpeg") center/cover;
text-align:center;
}

.main-logo{
width:180px;
border-radius:20px;
box-shadow:0 0 40px cyan;
}

/* TITLE */

.title{
font-size:60px;
letter-spacing:6px;
}

/* BUTTON */

.glow-btn{
padding:14px 35px;
border-radius:40px;
border:1px solid cyan;
text-decoration:none;
color:white;
margin:10px;
transition:.4s;
}

.glow-btn:hover{
box-shadow:0 0 20px cyan;
transform:translateY(-4px);
}

/* SOCIAL */

.social{
margin-top:40px;
display:flex;
gap:25px;
}

.social-icon{
position:relative;
cursor:pointer;
}

.social-icon span{
position:absolute;
bottom:25px;
left:-20px;
opacity:0;
background:#111;
padding:6px;
border-radius:6px;
transition:.3s;
}

.social-icon:hover span{
opacity:1;
}

/* SERVER GRID */

.server-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:30px;
padding:60px;
}

.server-card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
border-radius:20px;
padding:15px;
text-align:center;
transition:.4s;
}

.server-card:hover{
transform:translateY(-10px) scale(1.05);
box-shadow:0 0 30px cyan;
}

.server-card img{
width:100%;
border-radius:12px;
}

/* RATE */

.rate-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:40px;
padding:60px;
}

.rate-card{
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
transition:.4s;
}

.rate-card:hover{
box-shadow:0 0 40px cyan;
}

/* FOOTER */

footer{
text-align:center;
padding:50px;
}

.liquid{
height:100px;
background:radial-gradient(circle at 50% 0%,cyan,transparent);
filter:blur(30px);
}
.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
display:none;
align-items:center;
justify-content:center;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(5px);
z-index:9999;
}

.popup-box{
background:#0f1f33;
padding:25px;
border-radius:20px;
width:320px;
text-align:center;
}

.popup-option{
background:#132c47;
padding:12px;
margin:8px 0;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.popup-option:hover{
background:#00bfff;
}

.popup-buy{
margin-top:15px;
padding:10px 25px;
border:none;
border-radius:25px;
background:#00bfff;
color:white;
cursor:pointer;
}
